---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
	href={href}
	class:list={[
		'rounded-full px-3 py-1 text-slate-300 transition hover:text-amber-200',
		className,
		{ 'bg-slate-900/80 text-amber-200': isActive },
	]}
	{...props}
>
	<slot />
</a>
